select {
    padding: 8px;
    width: 100%;
    border: 1px solid var(--clr-main);
    border-radius: 5px;
}

.radio-buttons {
    display: flex;
    margin-bottom: 20px;
}

.radio-buttons input[type="radio"] {
    display: none;
}

.radio-buttons input[type="radio"] + label {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid var(--clr-main);
    border-radius: 50%;
    margin-right: 10px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.radio-buttons input[type="radio"]:checked + label {
    background-color: var(--clr-main);
    color: var(--clr-white);
}

button[type="submit"] {
    background-color: var(--clr-main);
    color: var(--clr-white);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button[type="submit"]:hover {
    background-color: var(--clr-red);
}
